:root{
    --title: "DEV // GAMER";
    --fullname: "Dustin Bonilla";
    --pronouns: "(he/him)";
    --main-color: rgb(187, 187, 187);
    --complement-color:black;

    /*Icon*/
    --icon-color:rgb(24, 24, 87);
    --icon-outline:rgb(73, 73, 162);
    --icon-size: 65px; /*keep on ht & wdth to keep circle*/
}   

html {
    scroll-behavior: smooth;
    font-family: "lucida console",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
    margin:10px;
    padding: 0px 0px 50px 0px ;
    background-color: var(--main-color);
}

h2{
    margin: 75px auto auto auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.div-line{
    border: 1px ridge grey;
    margin: 10px;
    min-width: 50%;
    max-width: 300px;

}

/*Top*/
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border: 12px solid blueviolet;
}

.profile{}

 #titles{
    margin: 0px;
 }
 #titles::after{
    content: var(--title);
}
#name{
    margin: 0px;
}
#name::after {
    content: var(--fullname);
}
#pronouns{
    margin:0px;
    color: brown;
}
#pronouns::after{
    content: var(--pronouns);
}

/* Navigation Bar */
nav {
}

nav ul li{
    list-style: none;
    
}
nav ul li:hover{   
    text-decoration: none;
    box-shadow: 0px 0px 10px 10px var(--icon-outline);
}




main{
    margin:0px;
    padding: 0px;
}


/*Banner*/
figure{
    margin: 0px;
    padding: 0px;
}
#banner {
    /*background-image: url("../images/placeholder-banner.jpg");*/
    display: block;
    max-width: 100%;
    max-height: 700px;
    margin: 0px;
    padding: 0px;
    flex: 0 0 500px;
}

/*Section: About*/
#bio {
    border: 5px inset;
}

/*Section: Work*/

.collection{
    display: flex;
    flex-wrap: wrap;
}
.card{
    flex: 0 1 100%;
}

.card a{
    display: flex;
    border: 12px solid white;
    box-shadow: 10px 10px 35px 2px rgb(73, 73, 73);

    margin:40px;
    padding-bottom: 80px;
    max-width: 500px;
}

.featured a{
    max-width: 700px;
    margin:40px;
    padding-bottom: 80px;

}

.upcoming a{
    display: flex;
    justify-content: center;
    background-color: white;
}


/*Contact*/
#contact{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}



#container-icon{
    display: flex;
    flex-flow: row wrap;
    
    width: 100%;
    justify-content: center;
}
.icon{
    height: 200px;
    
}
.icon a{
    max-width: 100px;
    height: 200px;
    margin: 0px 20px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.icon a:hover > p{
    text-decoration: none;
    box-shadow: 0px 0px 10px 10px var(--icon-outline);    
}

.icon a:active > p{
    text-decoration: none;
    border: 2px inset var(--icon-outline);
    scale: 95%;
}

.icon a:focus > p{
    text-decoration: none;
    box-shadow: 0px 0px 10px 10px var(--icon-outline);    
}

.icon a figcaption{
    margin: 0px;
    padding: 0px;
    

}
.icon p{
    background-color: var(--icon-color);
    height: var(--icon-size);
    width: var(--icon-size);
    border: 2px groove var(--icon-outline);
    border-radius: 50px;
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Layouts for Devices*/
/*Tablets*/
/* Reenable after dones with mobile design

@media screen and (min-width: 480px){  
    .card{
        flex: 0 0 50%;
    }
    .featured{
        flex: 1 0 100%;
    }
    body{
        background-color:rgb(113, 113, 113);
    }
}

Desktop
@media screen and (min-width:768px ){
    .card{
        flex: 0 0 33%;
    }
    .featured{
        flex: 1 0 100%;
    }
    
    body{
        background-color: rgb(92, 255, 214);
    }
}

*/