:root{
    --title: "DEV // GAMER";
    --fullname: "Dustin Bonilla";
    --pronouns: "(he/him)";
    --main-color: gray;
    --complement-color:black;

}   

html {
    scroll-behavior: smooth;
    font-family: "lucida console",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    margin:0px;
    padding: 0px;
}
main{
    margin:0px;
    padding: 0px;
}

 .profile{
 }

 #titles{
    margin: 0px;
 }
 #titles::after{
    content: var(--title);
}
#name{
    margin: 0px;
}
#name::after {
    content: var(--fullname);
}
#pronouns{
    margin:0px;
    color: gray;
}
#pronouns::after{
    content: var(--pronouns);
}

/* Navigation Bar */
nav {
    display: flex;
    flex-direction: column;
}
nav ul{
    justify-content: flex-end;
}

nav ul li{

}


/*Banner*/
figure{
    margin: 0px;
    padding: 0px;
}
#banner {
    /*background-image: url("../images/placeholder-banner.jpg");*/
    display: block;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    flex: 0 0 500px;
}

/*About*/
/*TODO: Aabout*/

/*Layouts for Devices*/
/*Tablets*/
@media screen and (min-width: 480px){
    /*TODO: set */
    /*TODO: remove after previous TODO done*/
    
    body{
        background-color:blue;
    }
}

/*Desktop*/
@media screen and (min-width:768px ){
    /*TODO: set wide layout*/
    /*TODO: remove after previous TODO done*/
    body{
        background-color: rebeccapurple;
    }
}

